.artist img{
    border-radius: 10px;
    transition: .4s all;
    -moz-transition: .4s all;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.artist img:hover{
    -webkit-filter: grayscale(0);
    filter: none;
}

.art{
    padding: 0px 10px !important;
}

.art img{
    border-radius: 10px !important;
}

.artcollection-mobile{
    display: none;
}