.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255,255,255,90%);
    background: rgb(255,255,255); /* For compatibility issues */
    border-radius: 10px;
    box-shadow: 6px 10px 20px -20px #4a4a4a;
    padding: 40px 10px 30px;
    font-family: 'Open Sans', sans-serif;
}

.countdown-item {
    color: #333;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

@media (max-width: 322px){
    .countdown-item{
        flex-direction: row;
        width: 90px;
        height: 90px;
        font-size: 30px;
    }
    .countdown-item span{
        font-size: 10px;
    }
}

.countdown-item span {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
}

.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.timer-description{
    color: #ffffff !important;
}

.timer-description2{
    color: #ffffff !important;
    font-size: 18px !important;
    text-transform: uppercase;
}